<!DOCTYPE html>
<html>
  <head>
    <title>Subscribe to a cool new product</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <header>
        <p>
            Logged in as {{ request.user.email }}
        </p>
    </header>
    <section>

<!--        Show product details-->
      <div class="product">
        <div class="description">
          <h3>Starter - Monthly tennis ball delivery 🎾</h3>
          <h5>$20.00 / month</h5>
        </div>
      </div>

<!--        Go to checkout button -->
      <form method="post" action="{%  url 'create-checkout-session' %}">
    {% csrf_token %}
    <select name="price_lookup_key">
        <option  value="standard_monthly" >standard_monthly</option>
        <option value="apple_product">Apple product</option>
        
    </select>
    <button type="submit">Subscribe</button>
</form>

    </section>
  </body>
</html>

<style>
    .product {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
        border: 1px dashed lightgreen;
    }
    .checkout-form {
        display: flex;
        justify-content: center;
        padding: 20px 10px;
    }

</style>
